@using AspNet.Mvc.Grid
@using AspNet.Mvc.Grid.Pagination;
@model IPagination<CoreServices.Models.DisplayedLinkResult>
@{
    ViewBag.Title = "My links";
    var attributes = new Dictionary<string, object>
    {
        {"style", "text-align: center; padding: 5px"}
    };

    var linkAttributes = new Dictionary<string, object>
    {
        {"style", "text-align: center; padding: 5px"},
        { "class", "grid-cell-link"}
    };
}
<script src="~/Scripts/mylinkspage.js"></script>
<div class="container" id="page-content">
    <div class="row main-page-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            My links list:
        </div>
    </div>
    <div class="row main-page-row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @Html.Pager(Model).Format("Links: {0} - {1} из {2}").First("      Pages: 1").Last(Model.TotalPages.ToString()).Next("Next").Previous("Previous")
         </div>
    </div>
    <div class="row main-page-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @if (Model != null)
        {
            @Html.Grid(Model).Sort(ViewData["sort"] as GridSortOptions).Columns(columns =>
            {
                columns.For(c => c.OriginalLink).Named("Original link ").Attributes(c => linkAttributes);

                columns.For(c => $"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}{c.ShortedLink}")
                    .SortColumnName("ShortedLink").Named("Shortened link ").Attributes(c => linkAttributes);

                columns.For(c => c.CreationDate.ToString("yyyy-MM-dd HH:mm")).Named("Creation Date ").SortColumnName("CreationDate")
                    .Attributes(c => attributes);

                columns.For(c => c.Follows).Named("Follows count ").Attributes(c => attributes);
            }).Empty("You have no saved links")
        }
        else
        {
            @Html.Raw(ViewBag.ErrorMessage)
        }
        </div>
    </div>
</div>
