@using AspNet.Mvc.Grid
@using AspNet.Mvc.Grid.Pagination;
@using URLShortener.Interfaces
@using URLShortener.Models;
@using URLShortener.Services
@using SortDirection = AspNet.Mvc.Grid.Sorting.SortDirection
@model IPagination<URLShortener.Interfaces.IDisplayedLink>
@{
    ViewBag.Title = "Мои ссылки";
    var attributes = new Dictionary<string, object>();
    attributes.Add("id","links-grid");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div class="container" id="page-content">
        <div class="row main-page-row">
            Список моих ссылок:
        </div>
        <div class="row main-page-row col-lg-12 col-md-12 col-sm-12" style="border: double; border-color: #ebebff">
            @Html.Pager(Model).Format("Ссылки {0} - {1} из {2}").First("1").Last(Model.TotalPages.ToString()).Next("Следующая").Previous("Предыдущая")
        </div>
        <div class="row main-page-row col-lg-12 col-md-12 col-sm-12">
            @if (Model != null)
            {
                @Html.Grid(Model).Sort(ViewData["sort"] as GridSortOptions).Columns(columns =>
                    {
                        columns.For(c => c.OriginalLink).Named("Оригинальная ссылка")
                        .HeaderAttributes(attributes);
                        columns.For(c => $"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}{c.ShortedLink}")
                        .SortColumnName("ShortedLink").Named("Укороченная ссылка");
                        columns.For(c => c.CreationDate.ToString("yyyy-MM-dd hh:mm")).Named("Дата создания");
                        columns.For(c => c.Follows).Named("Количество переходов");
                    }).Empty("У вас нет сохранённых ссылок")
            }
            else
            {
                @Html.Raw(ViewBag.ErrorMessage)
            }
        </div>
    </div>
</body>
</html>
