@using AspNet.Mvc.Grid
@using AspNet.Mvc.Grid.Pagination;
@using URLShortener.Interfaces
@using URLShortener.Models;
@using URLShortener.Services
@using SortDirection = AspNet.Mvc.Grid.Sorting.SortDirection
@model IPagination<URLShortener.Interfaces.IDisplayedLink>
@{
    ViewBag.Title = "Мои ссылки";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div class="container" id="page-content">
        <div class="row main-page-row">
            Список моих ссылок:
        </div>
        <div class="row main-page-row">
            @Html.Pager(Model).Format("Ссылки {0} - {1} из {2}").First(Model.FirstItem.ToString()).Last(Model.LastItem.ToString()).Next("Следующая").Previous("Предыдущая")
        </div>
        <div class="row main-page-row">
            @if (Model != null)
            {
                @Html.Grid(Model).Sort(ViewData["sort"] as GridSortOptions).Columns(columns =>
                    {
                        columns.For(c => c.OriginalLink).Named("Оригинальная ссылка");
                        columns.For(c => $"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}{c.ShortedLink}")
                        .SortColumnName("ShortedLink").Named("Укороченная ссылка");
                        columns.For(c => c.CreationDate).Named("Дата создания");
                        columns.For(c => c.Follows).Named("Количество переходов");
                    }).Empty("У вас нет сохранённых ссылок")
            }
            else
            {
                @Html.Raw(ViewBag.ErrorMessage)
            }
        </div>
    </div>
</body>
</html>
