body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#link-text-box {
    display: inline-block;
    border: 1px solid;
}

#page-content {
    padding-left: 20%;
}

#copy-button {
    border: 0;
    background: transparent;
}

#text-box-input {
    border: 0;
    background: transparent;
}

.main-page-row {
    margin-top: 1%;
    margin-bottom: 1%;
}

.error-row {
    background-color: red;
}