@model URLShortener.Models.CreationLinkResultModel
@{
    ViewBag.Title = "URL Shortener";
    var shortUrl = $"{Request?.Url?.Scheme}://{Request?.Url?.Authority}{Url.Content("~")}{Model?.ShortUrl}";
}

<div class="container" id="page-content">
    <div class="row">
        <div class="col-md-3" id="title">
            Сделайте ссылки короче
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="link-text-box">
                <input type="text" id="text-box-input" placeholder="введите сюда ссылку" @if (Model != null)
                {
                    if (Model.Success)
                    {
                        @($"value=\"{shortUrl}\" disabled=\"disabled\"")
                    }
                } />
                <button  id="copy-button" data-clipboard-target="#text-box-input" style="@if (Model != null)
                                                                                                    {
                                                                                                        @(Model.Success ? "visibility: visible" : "visibility: hidden")
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @("visibility: hidden")
                                                                                                    }">Копировать</button>
            </div>
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            @if (Model != null)
            {
                if (Model.Success)
                {
                    <button id="return-button" data-bind="click: returnToMainLink">Вернуться на главную</button>
                }
                else
                {
                    <button id="shorten-button" data-bind="click: shortLink">Укоротить!</button>
                }
            }
            else
            {
                <button id="shorten-button" data-bind="click: shortLink">Укоротить!</button>
            }
        </div>
    </div>
</div>
<script>
    new Clipboard('#copy-button');
</script>