@{
    ViewBag.Title = "URL Shortener";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container" id="page-content">
    <div class="row">
        <div class="col-md-3">
            Сделайте ссылки короче
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="link-text-box">
                <input type="text" id="text-box-input" placeholder="введите сюда ссылку"/>
                <button id="copy-button">Копировать</button>
            </div>
        </div>
        
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <button class="pull-left" id="shorten-button">Укоротить!</button>
        </div>
    </div>
</div>
</body>
</html>