@{
    ViewBag.Title = "URL Shortener";
}
<script src="~/Scripts/mainpage.js"></script>
<div class="container" id="page-content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="title">
            Сделайте ссылки короче
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div id="link-text-box">
                <input type="text" id="text-box-input" placeholder="введите сюда ссылку" style="padding-left: 2%"/>
                <button id="copy-button" data-clipboard-target="#text-box-input" title="Скопировать">
                    <span class="glyphicon glyphicon-file"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="main-button-container">
            <button class="main-button" id="shorten-button" data-bind="click: shortLink">Укоротить!</button>
        </div>
    </div>
</div>
<script>
    new Clipboard('#copy-button');
</script>