
@{
    ViewBag.Title = "Страница не найдена";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedirectToUrl</title>
</head>
<body>
    <div id="page-content" class="main-page-row">
        Страницы @ViewBag.Page не существует!
    </div>
</body>
</html>
