
@{
    ViewBag.Title = "Страница не найдена";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedirectToUrl</title>
</head>
<body>
<div>
    Страницы @ViewBag.Page не существует!
</div>
    <a href="~/">Перейти к главной странице</a>
</body>
</html>
