<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
<div id="page-content">
    <div class="row main-page-row error-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">При обработке запроса произошла ошибка.</div>
    </div>
</div>
</body>
</html>
