<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>198.37.116.26</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>198.37.116.26</MSDeployServiceURL>
    <DeployIisAppPath>198.37.116.26</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Jorgiy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UrlShortenerBaseEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="URLShortener.DataContexts.UrlShortenerBaseEntities, URLShortener" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UrlShortenerBaseADO" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=UrlShortenerBase.mssql.somee.com;Initial Catalog=UrlShortenerBase;Persist Security Info=True;User ID=Jorgiy_SQLLogin_1;Password=8t6hksyjy3" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UrlShortenerBaseADO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=UrlShortenerBase.mssql.somee.com;Initial Catalog=UrlShortenerBase;Persist Security Info=True;User ID=Jorgiy_SQLLogin_1;Password=8t6hksyjy3" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UrlShortenerBaseADO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UrlShortenerBaseEntities-Web.config Connection String" />
  </ItemGroup>
</Project>